body {
    font-family: sans-serif;
}

header {
    background-color: lightslategray;
    padding: 1vh;
}

nav {
    background-color: gray;
    margin: 1vh;
    display: inline-block;
}

.navBtn, .navBtnFirstA {
    background-color: dimgrey;
    color: silver;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 15vw;
    margin: 0;
    text-align: center;
    display: inline-block;
}

.subMenu {
    text-decoration: none;
}

.navBtn:hover, .navBtnFirstA:hover {
    background-color: darkgrey;
    color: black;
}

a {
    text-decoration: none;
}

.fa-bars {
    color: white;
    font-size: 3vh;
}

.subMenuLi {
    text-decoration: none;
}

@media only screen and (min-width: 800px) {
    .navBtnFirstA {
        display: inline-block;
    }

    .navBtnFirstB {
        display: none;
    }

    .subMenu {
        display: none;
    }
}


@media only screen and (max-width: 800px) {
    .navBtnFirstA {
        display: none;
    }

    .navBtnFirstB {
        display: inline;
    }

    .navBtn {
        display: none;
    }

    .SubMenuBTN {
        display: block;
        background-color: white;
        color: red;
        padding: 2vh;
    }

    .subMenu:hover {
        display: block;
    }
    .subMenu {
        display: none;
    }

}
.navBtnFirstB:hover + .subMenu{
    display: block;
}

